.fullContainer{
    background-color: var(--high-contrast-light);
}

.headers{
    color: var(--contrast-color-bright-dark);
}

.headerSpace{
    height:80px;
}

.profilepic{
    width:100%;
}

.bracket{
    margin-top:-45px;
    height:200px;
    line-height:200px;
    font-size:180px;
}

.nameSubTitle{
    color: var(--high-contrast-light);
    font-size:40px;
}

.contactIcon{
    width:100%;
}

.contactText{
    font-style: bolder;
    color:var(--medium-contrast-light);
}

.centerTitle{
    text-align: center;
}

.skillBox{
    height:50px;
    line-height: 50px;
    background-color: var(--high-contrast-light);
    color: var(--contrast-color-dull);
    border-radius:5px;
    font-weight:bold;
}

.nameTitle{
    margin-left:auto;
    margin-right:auto;
    font-size:50px;
    margin-top:12px;
    color: var(--accent-color);
}

.nameTitleMotto{
    margin-left:auto;
    margin-right:auto;
    font-size:25px;
    margin-top:12px;
    color: var(--accent-color);
}

.lineBreakTop{
    height:5px;
    width:50%;
    background-color: var(--contrast-color-bright-dark);
}

.lineBreak{
    height:5px;
    width:80%;
    background-color: var(--contrast-color-bright-dark);
}

.lineBreakBottom{
    height:5px;
    width:30%;
    background-color: var(--contrast-color-bright-dark);
}

.namePic{
    width:100%;
}

.resumeReadButton{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    width:150%;
    height:180%;
}

.resumeReadButton:hover {
    background-color: var(--medium-contrast-dark);
}

.suitPicWrapper{
    position: relative;
}

.suitPic{
    /* width:100%; */
    position:absolute;
    left: 0;
    bottom: 0;
    max-height: 520px;
}

.colorRow{
    background-color: var(--contrast-color-dull);
}

.aboutMeStyle{
    color:var(--high-contrast-dark);
}