:root{
  --accent-color:#01A263;
  --high-contrast-light: #AEE9D1;
  --very-light: #FFFFFF;
  --medium-contrast-light: #3CB987;
  --high-contrast-dark: #001D11;
  --medium-contrast-dark: #006B40;
  --contrast-color-dull: #10449E;
  --contrast-color-bright: #82DB01;
  --contrast-color-dull-dark: #010B1C;
  --contrast-color-bright-dark: #172700;
  --contrast-color-dull-light: #4670B6;
  --contrast-color-bright-light: #ACED4D;

  --sidebar-width-opened: 300px;
}


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--accent-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

